
body {
    padding-top: 56px;
  
}

section {
    text-align: center;
}


/* Clase para ajustar el tamaño de las imágenes de proyectos */
.project-image {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

